@import '@deutschemodelunitednations/corporate-identity/css/fonts';
@import '@deutschemodelunitednations/corporate-identity/css/shades/dmun';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@import '@deutschemodelunitednations/corporate-identity/css/theme/dmun-light';
@import '@deutschemodelunitednations/corporate-identity/css/theme/dmun-dark';
